body {
    margin: 0px;
    background-color:#fbfbfb;
    font-family: Georgia, serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #17989d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #fd8637;
}

.hidden {
    display: none;
}

.large-text {
    font-size: 21px;
}

#title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
}

.title-container {
    max-width: 800px;
    padding: 0px;
}

#title-page h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.authors, .date {
    margin-bottom: 5px;
}


/* style for the matrix */
.matrix {
    display: grid;
    grid-template-columns: repeat(7, auto); 
    grid-gap: 0px;
    font-size: 16px;
    width: 50%;
}

.matrix-wrapper {
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.matrix .label {
    font-weight: bold;
    text-align: center; 
    vertical-align: middle; 
}

.matrix .cell {
    padding: 4px 0px; /* Adjust padding for row spacing */
    text-align: center;
}

.matrix-label {
    margin-left: 15px;
    font-size: 1.3em;
    opacity: 0;
}


#scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.scroll__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.scroll__text {
    flex: 1;
    padding: 50px;

}

.scroll__vis {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;

    /* For GPU acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);


}

/* Style for the slider container */
#sliderContainer {
    width: 20%;
    text-align: center;
}

.slider {
    width: 100%;
}

#sliderValue {
    display: inline-block;
    width: 30px;
}


/* Style for the tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 18px sans-serif;
    opacity: 0;

    background-color: rgb(255, 251, 145);
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 2px 2px 5px 0px rgba(242, 239, 46, 0.2);
    pointer-events: none;
}


#imageVis {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#matrixKnnVis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}


#linkVis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

