body {
    margin: 0px;
    background-color:#fbfbfb;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2a19ae;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fd8637;
}

.hidden {
    display: none;
}

.large-text {
    font-size: 20px;
}

.warning {
    color: red;
    font-size: 18px;
}

#scroll {
    margin-bottom: 0px;
}

#title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
}

.title-container {
    max-width: 800px;
    padding: 0px;
}

#title-page h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.authors, .date {
    margin-bottom: 5px;
}


/* style for the matrix */
.matrix {
    display: grid;
    grid-template-columns: repeat(7, auto); 
    grid-gap: 0px;
    font-size: 16px;
    width: 50%;
}

.matrix-wrapper {
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.matrix .label {
    font-weight: bold;
    text-align: center; 
    vertical-align: middle; 
}

.matrix .cell {
    padding: 4px 0px; /* Adjust padding for row spacing */
    text-align: center;
}

.matrix-label {
    margin-left: 15px;
    font-size: 1.3em;
    opacity: 0;
}


#scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.scroll__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.scroll__text {
    flex: 1;
    padding: 50px;

}

.scroll__vis {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;

    /* For GPU acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Style for the slider container */
#sliderContainer {
    width: 20%;
    text-align: center;
}

.slider {
    width: 100%;
}

#sliderValue {
    display: inline-block;
    width: 30px;
}


/* Style for the tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 18px sans-serif;
    opacity: 0;

    background-color: rgb(255, 251, 145);
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 2px 2px 5px 0px rgba(242, 239, 46, 0.2);
    pointer-events: none;
}


#imageVis {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#matrixKnnVis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#knnVis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}


#linkVis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#annoationVis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 14px;
  }
  
  .footer-content {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .footer-content h3 {
    margin-bottom: 10px;
  }
  
  .footer-content ul {
    list-style: none; /* removes bullet points */
    padding: 0;
  }
  
  .footer-content ul li {
    margin-bottom: 5px;
  }
  
  .footer-content ul li a {
    color: white;
    text-decoration: none; /* removes underline */
    transition: color 0.3s;
  }
  
  .footer-content ul li a:hover {
    color: #a2d2ff; /* color changes on hover */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444; /* adds a subtle line */
    padding-top: 10px;
  }

  .theme-toggle {
    cursor: pointer; /* Suggests the icon is clickable */
    font-size: 24px; /* Larger size for the icon */
    color: #666; /* Matches the link color */
    transition: color 0.3s;
  }
  
  .theme-toggle:hover {
    color: #000; /* Dark color on hover for consistency */
  }
  
  .goog-te-banner-frame.skiptranslate {
      display: none !important;
  }
  body {
      top: 0px !important;
  }
  
  #google_translate_element {
      display: none;
  }
  
  /* Override Google Translate Toolbar default styles */
  .goog-te-banner-frame {
    top: auto !important; /* Remove the default top positioning */
    bottom: 0 !important; /* Position it at the bottom of the page */
    width: 100% !important; /* Ensure it spans the full width */
    border: none !important; /* Optional: Remove any border */
  }
  
  body {
    position: relative !important; /* Ensure the body respects the toolbar positioning */
    top: 10px !important; /* Reset any top padding/margin added by Google Translate */
    margin-bottom: 40px !important; /* Add margin to the bottom to prevent overlap with the toolbar */
  }
  
  .custom-translate-button {
      cursor: pointer;
      padding: 10px;
      background-color: #cbcbcb;
      color: white;
      border: none;
      border-radius: 4px;
  }
  
  .custom-translate-button:hover {
      background-color: #45a049;
  }
  
